<h2 class="title">Listado de Autos</h2>

<table class="table table-hover" *ngIf="!loading">
    <thead>
      <tr>
        <th scope="col" class="text-center">ID</th>
        <th scope="col" class="text-center">Patente</th>
        <th scope="col" class="text-center">Marca</th>
        <th scope="col" class="text-center">Modelo</th>
        <th scope="col" class="text-center">Propietario</th>
        <th scope="col" class="text-center">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let car of list_cars">
        <th scope="row" class="text-center">{{car.id}}</th>
        <td class="text-center">{{car.patente}}</td>
        <td  class="text-center">{{car.marca.nombre}}</td>
        <td  class="text-center">{{car.modelo.nombre}}</td>
        <td  class="text-center">{{car.propietario.nombre}} {{car.propietario.apellido}}</td>
        <td  class="text-center"><button class="me-3">modificar</button> <button>nuevo servicio</button></td>
      </tr>
    </tbody>
  </table>
